<div class="home-back centerWrap">
<h1>Sign in</h1>

<%= form_tag '/sign_in' do %>
  <div class="input-field">
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>

  <div class="input-field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag "Sign in", class: "btn btn-success", id: "sign_in_button" %>
<% end %>
</div>
