<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <div class="jumbotron title">
    <div><%= image_tag 'logo.png' %></div>
    <div class="cartWrapper">
      <span class="glyphicon glyphicon-shopping-cart cart cartImg"></span>
      <div class="cart-icon">
        <%= link_to cart_path do %>
        <span class="cart-text">Your wish list contains:</span> <br><span class="count">
         <span class="cart-total"><%= cart_items %></span>
         items</span>
         <% end %>
       </div>
    </div>
  </div>
  <nav class="navbar menu">
    <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">New Arivals</a></li>
        <li><a href="#">NewYork Best Seller</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav right">
      <% if current_user %>
        <% if current_user.admin? %>
          <li><%= link_to "Add a Product", new_product_path %></li>
        <% end %>
        <li><%= link_to "Sign out", '/sign_out' %></li>
      <% else %>
        <li><%= link_to "Sign up", 'sign_up' %></li>
        <li><%= link_to "Sign in", '/sign_in' %></li>
      <% end %>
    </ul>
  </div>
  </nav>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

      <%= yield %>
    </div>
  </body>
</html>
